<!-- views/nav.ejs -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
  <div class="container">
    <a class="navbar-brand" href="/">
	<i class="fas fa-address-card"></i>  Portfolio
	 </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
       
		<!-- if user not selected -->
		<% if(typeof(title) !== 'undefined') { %>
		<% if(title === 'Portfolio'){ %>
			 <li class="nav-item active"><a href="/users" class="nav-link">Users</a></li>
			<li class="nav-item"><a class="nav-link disabled" href="#">Select User</a></li>
		<% } else { %>
		<!-- else list elements -->
			 <li class="nav-item"><a href="/users" class="nav-link">Users</a></li>
			<li class="nav-item <%= title === 'Campus' ? 'active' : '' %>">
				<a href="/<%= userId %>/campus" class="nav-link">Campus Activities</a></li>
			<li class="nav-item <%= title === 'Extra Curriculars' ? 'active' : '' %>">
				<a href="/<%= userId %>/extracurricular" class="nav-link">Extra Curriculars</a></li>
			<li class="nav-item <%= title === 'Awards' ? 'active' : '' %>">
				<a href="/<%= userId %>/awards" class="nav-link">Awards</a></li>
		<% } } %>
      </ul>
    </div>
  </div>
</nav>
